<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title th:inline="text">[[${account.accountName}]]</title>
</head>
<body>
	<h1 th:inline="text">[[${account.accountName}]]</h1>
	<form method="post"
		th:action="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, 
		accountId=${account.accountId})}">
		<div>
			Account Name: <input th:field="${account.accountName}" />
		</div>

		<div>
			<input type="submit" value="Save Account" />
		</div>
		<div>
			<input type="hidden" th:field=${account.accountId} />
		</div>
	</form>
	<form
		th:action="@{/users/{userId}/accounts/{accountId}/delete
		(userId=${user.userId},   accountId=${account.accountId})}"
		method="post">
		<input type="submit" value="Delete Bank Account" />
	</form>
	<hr>
	<a th:href="@{/users/{userId}(userId=${user.userId})}"> Back</a>
</body>
</html>