<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title th:inline="text">[[${account.accountName}]]</title>
</head>
<body>
	<h1 th:inline="text">[[${account.accountName}]]</h1>
	<form method="post" action="">
		Account Name: <input th:field="${account.accountName}" />
		<div>
			<input type="submit" value="Edit Account" />
		</div>
<!-- 		<div> -->
<!-- 			<input type="hidden" th:field="account.accountId" /> -->
<!-- 		</div> -->
	</form>

<!-- 	<form method="post" -->
<!-- 		th:action="@{/users/{userId}/account/{accountId}/delete(userId=${user.userId}   ,accountId=${account.accountId})}"> -->
<!-- 		<input type="submit" value="Delete Account" /> -->
<!-- 	</form> -->

	<hr>
	<a th:href="@{/users/{userId}(userId=${user.userId})}"> Back</a>
</body>
</html>